* {
  /* margin: 0;
  padding: 0; */
  margin-block-start:0;
  margin-block-end:0;
  padding-inline-start:0;
  
 
}

label{
    font-size: 1.5rem;
    color: black;
    
}

html {
    overflow-y: overlay;
}



body{
    
    /* background-image: linear-gradient(to top, #c5c5c5, #aaa8b3, #a39bac, #857a93, #3d5c67); */
    background: black;
    max-width:100vw;
    overflow: hidden;
}


#APOD{
    max-width: 100vw;
}

#APOD ul{

  width: 70vw;
  margin: 30px 30px 30px 30px;
  
}


h1{
    font-family: "belarius-poster", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 8rem;
    padding-bottom: 10px;
    color:var(--second);
    background: -webkit-linear-gradient(#ff9500,#db0202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color:#9b9fb8;
    margin: 0px;
    font-size: 6rem;
  
}

#stats ul {
  
  line-height: 2rem;
}

.hero{
    margin-left: 3vw;
    margin-right: 3vw;
    min-width: 80.5vw;
    max-width: 80.5vw;
    height: auto;
    box-shadow: 0px 0px 15px -5px;
   }

.colapsible-header{
margin-left: 3vw;
}

#asteroidH2{
text-align: center;
padding: 30px 0px 10px 0px;
font-family: "belarius-poster", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 6rem;
color:var(--second);
background: -webkit-linear-gradient(#807c8e,#eeeef0bd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#asteroidSub{
    color: #eeeef0bd;
    text-align: center;
    padding-bottom: 4rem;
}

#statistics{
    margin: 5px 0px 0px 50px;
    line-height: 2.25rem;
    font-size: 1.25rem;
}

button{
    margin-top: 5px;
    box-shadow: 0px 0px 10px -5px #2f2b2e;
    border: none;
   
}


#asteroid-section{
    background-color: rgba(0,0,0,.25);
    
}

#nasa-search{
    margin-right: 5vw;
}


#APOD-Search {
    padding: 2px;
    margin: 20px;
    box-shadow: 0px 0px 10px -5px #2f2b2e;
    border: 1px solid rgb(0, 0, 0);
    width: 6rem;
}

#pic-info{
    position: relative;
    left: 10.5vw;
    font-size: 20px;
    
}
#asteroid-name {
    color:rgb(0, 0, 0);
    font-size: 2rem;
    width:100%;
    background-color: #e3e6e710;
    line-height: 3rem;
}

#asteroid{
    width: 35vw;
    margin-top: 17px;
    margin-bottom: 20px;
    margin-left: 3vw;
    box-shadow: 0px 0px 20px -5px;
}

#text-area{
    border: 1px solid grey;
    height: 16rem;
    box-shadow: 0px 0px 10px -5px;
    margin: 13px 0px 0px 0px;
    margin-right: 4vw;
    
}

#asteroidDiv{
    margin-right: 4vw;
}

#next,#prev{
    padding: 2px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px -5px #2f2b2e;
    width:5rem;
    margin-bottom: 30px;
    
}


/* datepicker color*/
.datepicker-date-display,
.datepicker-cancel,
.datepicker-clear,
.datepicker-done,
.datepicker-table td.is-selected > span,
.datepicker-table td.is-today > span,
.datepicker-table td.is-selected > span:hover,
.datepicker-table td.is-today > span:hover {
  background-color: rgba(52, 24, 62, 0.806) !important;
}

/* datepicker text */
.datepicker-table td.is-selected > span,
.datepicker-table td.is-today > span {
  color: white !important;
}
/* datepicker button color */
.datepicker-cancel, .datepicker-done {
  color: rgb(232, 228, 228) !important;
}
@media screen and (max-width: 576px) {
    #asteroid{
        width: 75vw;
        justify-content: center;
    }
    #text-area{
        border: 1px solid grey;
        height: 20rem;
    
    }
    h2{
        font-size: 200%;
    }
    /* h1{
        font-size: 200%;
    } */
    #asteroidH2{
        font-size: 4rem;
    }
    #nasa-search{
        margin-left: 5rem;
    }
 
 
}
@media screen and (max-width: 992px) {
    #asteroid{
        width: 75vw;
        justify-content: center;
    }
    #text-area{
        border: 1px solid grey;
        height: 20rem;
       
    }
    h2{
        font-size: 200%;
    }
    /* h1{
        font-size: 200%;
    } */
    #asteroidH2{
        font-size: 4rem;
    }
    #nasa-search{
        margin-left: 5rem;
    }
 
  }